footer {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  background-color: #041c32;
}
.section--icons {
  max-width: 32rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
}
.icons--item {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.github {
  width: 2.3rem;
  height: 3rem;
  grid-column: span 1;
  background-image: url('../../assets/icons/githubFooter.svg');
}
.linkedin {
  width: 3rem;
  height: 3rem;
  grid-column: span 1;
  background-image: url('../../assets/icons/linkedin.svg');
}
.twitter {
  width: 3rem;
  height: 2.4rem;
  grid-column: span 1;
  background-image: url('../../assets/icons/twitter.svg');
}
.instagram {
  width: 3rem;
  height: 3rem;
  grid-column: span 1;
  background-image: url('../../assets/icons/instagram.svg');
}
.section--email {
  max-width: 32rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
