header {
  background-color: #041c32;
}
.container__header {
  max-width: 102.4rem;
  padding: 15px;
  padding-bottom: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
.section__span {
  width: 2.6rem;
  height: 2.3rem;
  display: block;
  background-image: url('../../assets/icons/paginaInicio.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container__header a h3 {
  color: #fff;
}
.section__about {
  grid-column: 3 / span 1;
}
.donatios__menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  grid-column: 4 / span 1;
}
.donatios__menu:hover > a {
  display: block;
}
.donatios__coffe {
  display: none;
  position: absolute;
  padding-top: 1rem;
  left: 0;
  top: 2rem;
}
