.container__navbar-bg {
  width: 100%;
  background-color: #041c32;
}
.container__navbar {
  max-width: 102.4rem;
  margin: 0 auto;
}
.navbar__text {
  width: 77%;
  padding: 0 15px;
  margin: 0 auto;
  font-size: 1.8rem;
  padding-top: 3.5rem;
  color: #fff;
}
.navbar__text h1 {
  margin-bottom: 1.6rem;
  text-align: center;
}
.navbar__img {
  display: none;
}
.text__skills {
  display: none;
}
.navbar__menu {
  width: 100%;
  height: 5rem;
  padding: 0 15px;
  margin-top: 3.5rem;
  display: grid;
  background-color: #064663;
}
ul {
  width: 100%;
  max-width: 102.4rem;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
ul li {
  margin-left: 3.5rem;
}
.navbar__menu h2 {
  color: #fff;
}
