.main--text {
  padding-top: 1.2rem;
  display: grid;
}
.main--text h1 {
  color: #f35b17;
}
.main--menu {
  width: 100%;
  max-width: 102.4rem;
  height: 5.5rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  display: grid;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
