.container__navbar {
  background-color: #041c32;
}
.navbar__text {
  width: 77%;
  padding: 0 15px;
  margin: 0 auto;
  font-size: 1.8rem;
  padding-top: 3.5rem;
  color: #fff;
}
.navbar__text h1 {
  margin-bottom: 1.6rem;
  text-align: center;
}
.navbar__menu {
  width: 100%;
  max-width: 102.4rem;
  height: 5rem;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 3.5rem;
  display: grid;
  background-color: #064663;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar__menu h2 {
  color: #fff;
}
