.container__proyects {
  width: 100%;
  height: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #041c32;
}
.container__proyects h2 {
  color: #fff;
  font-size: 2.4rem;
  font-weight: lighter;
}
.proyects-img {
  width: 22.4rem;
  height: 20.9rem;
  display: block;
  background: url(../../assets/img/Proyects.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section__proyectList {
  width: 100%;
  height: 42rem;
  padding: 3.2rem 4.4rem;
  background-color: #ecb366;
}
.container__proyectLists-text {
  width: 23.2rem;
  height: 35.4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.proyectList__title {
  font-size: 3.6rem;
}
.proyectList__description {
  font-size: 1.8rem;
}
.proyectList__icons {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
}
.container__iconTecno {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f0d7;
  border-radius: 100%;
}
.iconTecno {
  width: 60%;
  height: 60%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.github-proyects {
  background-image: url(../../assets/icons/github.svg);
}
.react-proyects {
  background-image: url(../../assets/icons/react.svg);
}
.wsl-proyects {
  background-image: url(../../assets/icons/WSL.svg);
}
.javaScript-proyects {
  background-image: url(../../assets/icons/javascript.svg);
}
.section__proyectList:nth-child(2n + 1) {
  background-color: #074764;
}
.proyectList__btn {
  width: 13.3rem;
  height: 4.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.section__proyectList:nth-child(2n + 1) .proyectList__btn {
  color: #fff;
  border: 1px solid #fff;
}
