@media (min-width: 768px) {
  .container__Preview {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 0.9rem;
  }
  .Preview__text {
    grid-column: span 4;
  }
  .Preview__img {
    grid-column: span 4;
  }
}
@media (min-width: 1024px) {
  .container__Preview {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 0.9rem;
  }
  .Preview__text {
    grid-column: 2 / span 4;
  }
  .Preview__img {
    grid-column: 7 / span 5;
  }
}
