.container__Preview {
  width: 100%;
  max-width: 102.4rem;
  margin-top: 5.7rem;
  display: flex;
  flex-direction: column;
}
/* .Preview__img {
  width: 100%;
  height: 20rem;
  background-color: red;
} */
.Preview__text {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 0.9rem;
}
.Preview__text > p {
  grid-column: span 4;
}
.text__title {
  grid-column: span 4;
}
/* tecnologies */
.tecnologies {
  width: 100%;
  max-width: 102.4rem;
  grid-column: span 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 0.7rem;
}
.technologies--item {
  display: block;
}
.technologies--itemIcon {
  grid-column: span 1;
}
