:root {
  --grayColor: #f7f7f7;
  --LightPink: #f7efeb;
  --LightGreen: #e7f7df;
  --LightBlue: #dff7f4;
  --LighterPink: #f7dff7;
  /* fonts */
  --FontTitle: 'Open Sans Condensed', sans-serif;
  --FontSubtitle: 'Rosario', sans-serif;
  --FontText: 'Tenor Sans', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* mockup */
html {
  font-size: 62.5%;
}
body {
  padding: 15px;
  background-color: var(--grayColor);
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
}
header {
  width: 100%;
}
h1 {
  font-size: 2.4rem;
  font-weight: lighter;
  font-family: var(--FontTitle);
}
h2,
h3 {
  font-size: 2.2rem;
  font-family: var(--FontSubtitle);
  font-weight: 300;
}
h3 {
  font-size: 1.8rem;
}
p {
  font-size: 1.4rem;
  font-weight: lighter;
  font-family: var(--FontText);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
